@{ ViewData["Title"] = "Home Page"; }

<div class="jumbotron">
    <h1>康托索大学</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>欢迎来到康托索大学</h2>
        <p>
            康托索大学是一个示例应用程序，它演示如何在ASP.NET Core MVC Web应用程序。
        </p>
    </div>
    <div class="col-md-4">
        <h2>从头开始构建</h2>
        <p>您可以按照一系列教程中的步骤来构建应用程序</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">教程 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>下载</h2>
        <p>您可以从GitHub下载完整的项目.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">项目源代码 &raquo;</a></p>
    </div>
</div>